{% extends 'base.html' %} {% block content %}
<style>
  body {
    background: linear-gradient(to right, #718093, #7f8fa6);
  }

  input[type="text"], input[type="number"], textarea, select {
    border: 2px solid #353b48;
    border-radius: 4px;
    padding: 8px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  table {
    margin: 0 auto;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
  }

  input[type="submit"]:hover {
    opacity: 0.8;
    background-color: #45a049;
  }
</style>

<h1 style="text-align: center;">Add New Manhwa</h1>

<form method="POST" style="padding: 20px;">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
    <tr>
      <td></td>
      <td>
        <input class="btn add_manhwa_btn" type="submit" value="Add Manhwa" />
      </td>
    </tr>
  </table>
</form>

{% endblock %}